.university-detail{
    // padding: 30px 0;
    .slide-section{
        margin-bottom: 4rem;
        .swiper{
            .swiper-slide{
                .image{
                    position: relative;
                    img{
                        height: 350px;
                        object-fit: cover;
                    }
                }
                .slide-content{
                    position: absolute;
                    top: 200px;
                    left: 89px;
                    color: whitesmoke;
                }
            }
            .swiper-button-prev{
                left: 4.7rem;
                .wrap{
                    display: flex;
                    align-items: center;
                    span{
                        color: whitesmoke;
                        position: relative;
                    }
                    .b-icon{
                        position: absolute;
                        color: whitesmoke;
                        right: 58px;
                        transition: .5s;
                    }
                }
            }
            .swiper-button-next{
                right: 4rem;
                .wrap{
                    display: flex;
                    align-items: center;
                    span{
                        color: whitesmoke;
                        position: relative;
                    }
                    .b-icon{
                        position: absolute;
                        color: whitesmoke;
                        left: 45px;
                        transition: .5s;
                    }
                }
            }
            .swiper-button-next::after, .swiper-button-prev::after{
                display: none;
            }
            .swiper-button-prev:hover{
                .wrap{
                    .b-icon{
                        right: 50px;
                    }
                }
            }
            .swiper-button-next:hover{
                .wrap{
                    .b-icon{
                        left: 40px;
                        transition: .5s;
                    }
                }
            }
        }
    }
}